@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#text,
#letter,
#pathTextCurved {
  pointer-events: none;
}

#letter {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 1.2em;
  font-weight: 100;
}
.svg{
    width: 180px;
    margin-top: -30px;
    margin-left: 10px;
}
/* #circle{
    margin-left: auto;
    margin-right: auto;
} */

#letter,
#textCurved {
    font-family: 'Nanum Gothic', sans-serif;
    fill: #ffffff63;
}

#textCurved {
    font-size: 0.9em;
    font-weight: 100;
    text-transform: uppercase;
}

#border {
  fill: #e27c7c;
}

@media screen and (min-width: 768px){
    #textCurved{
        font-size: 0.9em;
    }

    #letter{
      font-size: 1.2em;
    }

    .svg{
      width: 250px;
      margin-top: -100px;
      margin-left: 10px;
    }
}
