@font-face{
    font-family: "Obrazec"; 
    src: url('./FONTS/Obrazec/Obrazec-2.ttf') format('truetype');
}
@font-face{
    font-family: "Wayward Sans DCU"; 
    src: url('./FONTS/Wayward\ Sans\ DCU/WaywardSans-Regular.otf') format('opentype');
}
@font-face{
    font-family: "Bore - FREE"; 
    src: url('./FONTS/Bore\ -\ FREE/Bore-Regular.otf') format('opentype');
}
@font-face{
    font-family: "Redwing"; 
    src: url('./FONTS/Redwing/Redwing-Medium.otf') format('opentype');
}
@font-face{
    font-family: "ApexMk3"; 
    src: url('./FONTS/ApexMk3/Apex\ Mk3-Medium.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


body {
    margin: 0;
    padding: 0;
    /* background-color: #ff676796; */
    /* background-color: rgb(42, 43, 44); */
    position: absolute;
    width: 100%;
    min-height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.2;
    color: rgb(250, 246, 21);
}

/* CACHER LA BARRE DE DEFILEMENT */
body::-webkit-scrollbar {
    width: 0 !important;
}


#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.text-plane {
    display: inline-block;

    /* appliquer des marges négatives et un remplissage pour éviter que les caractères ne soient rognés */
    margin: -1em;
    padding: 1em;

    margin-right: 0;
    padding-right: 0;
    

    /* hide the original text content */
    opacity: 0;
}

#content {
    width: 100%;
    /* padding: 2.5vw; */
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}
#content nav {
    /* color: rgb(143, 0, 0); */
    color: #000000;
    margin: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}
#content ul{
    margin-bottom: 0px;
}

#content h1 {
    /* text-align: center; */
    font-size: 3em;
    text-transform: uppercase;
    /* font-family: "Redwing"; */
    font-family: "ApexMk3";
    /* color: rgb(250, 246, 21); */
    color: #000000;
    font-weight: bold;
    line-height: 0;

    margin-left: 10px;
}
#content .front{
    padding-top: 20px;
}
#content .dev{
    padding-top: 20px;
}

#content h2 {
    justify-content: space-between;
    font-size: 4.73em;
    text-transform: uppercase;
    /* font-family: "Redwing"; */
    font-family: "ApexMk3";
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 0;

    margin-left: 10px;
    margin-top: 150px;
    /* text-align: center; */
}


#content h3 {
    justify-content: space-between;
    text-transform: uppercase;
    /* font-family: "Redwing"; */
    font-family: "ApexMk3";
    font-weight: 400;
    line-height: 0;

    margin-left: 10px;
}
#content .one{
    color: rgb(236, 233, 233);
}
#content .two{
    color: rgb(236, 233, 233);
}
#content .three{
    color: rgb(236, 233, 233);
}
#content .four{
    color: rgb(236, 233, 233);
}

#content .projet-one{
    /* margin-top: 130px; */
    display: none;
}

@media screen and (max-width: 768px){
    .container-img{
        margin-top: -80px;
    }
    .projet-one-mobile{
        font-size: 6em;
        /* text-align: center; */
    }
    .top{
        margin-top: 150px;
    }
    .name-one{
        margin-top: 180px;
    }
    .projet-two{
        display: none;
    }
    .projet-three{
        display: none;
    }
    .projet-four{
        display: none;
    }
}



.block-bio{
    margin-top: -50px;
}
.paragraphe-bio{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5em;
    color: black;
    /* justify-content: space-between; */
    margin-top: 50px;
    margin: 10px;
}
.paragraphe-work{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5em;
    color: black;
    /* justify-content: space-between; */
    margin-top: 50px;
    margin: 10px;
}

.text-block {
    width: 50%;
    margin: 15vh 0;
}


.block-contact{
    color: rgb(42, 43, 44);
    margin-top: 0px;
}
.contact span{
    color: rgb(42, 43, 44);
}
.paragraphe-contact{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5em;
    /* justify-content: space-between; */
    margin-top: 50px;
    margin-left: 10px;
}
.email{
    margin-top: 50px;
    margin-left: 10px;
}


.reseau-date{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}


.paragraphe-twitter{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    /* margin: 10px; */
}
.paragraphe-dribbble{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    /* margin: 10px; */
}
.paragraphe-behance{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    /* margin: 10px; */
}

.back{
    color: rgb(42, 43, 44);
    display: flex;
    justify-content: space-between;
}
.paragraphe-date{
    /* font-family: "Bore - FREE"; */
    font-family: "Redwing"; 
    font-size: 3.8em;
    /* text-align: right; */
}
.date{
    margin-right: 20px;
    margin-top: 30px;
}
/* .top{
    margin-top: 250px;
} */
.paragraphe-top{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20px;
}
.top a{
    color: rgb(42, 43, 44);
}




#scroll {
    margin-left: 25%;
}

#lipsum {
    margin-left: 50%;
}
.paragraphe-projet{
    font-family: 'Nanum Gothic', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    /* text-align: center; */
    margin-top: 50px;
    margin: 10px;
}

/* ============================ */

@media screen and (min-width: 769px){
    #content nav{
        font-size: 1.7em;
    }
    #content ul{
        margin-bottom: 10px;
    }

    #content .titre{
        margin-top: -50px;
    }
   
    #content h1 {
        /* font-size: 12em;  */
        text-align: center;
        font-size: 13em;
    }
    #content .name{
        text-align: center;
    }
    #content .front{
        text-align: center;
        padding-top: 50px;
        /* display: flex; */
    }
    

    #content .dev{
        text-align: center;
        padding-top: 50px;
        /* display: flex; */
    }
    
    #content h2{
        /* text-align: center; */
        font-size: 23em;
    }
    .block-bio{
        margin-top: 250px;
    }
    
    .paragraphe-bio{
        font-size: 2.1em;
        width: 800px;
        margin-top: -100px;
        /* margin-left: 300px; */
        margin-left: auto;
        margin-right: auto;
    }

    .block-work{
        margin-top: 250px;
        /* display: flex; */
    }
    .paragraphe-work{
        font-size: 2.1em;
        width: 800px;
        margin-top: -100px;
        /* margin-left: auto; */
        margin-left: auto;
        margin-right: auto;
    }
    .paragraphe-projet{
        /* color: #f1edad; */
        color: rgb(255, 255, 255);
        font-size: 2.1em;
        width: 800px;
        margin-top: -30px;
        /* margin-left: auto;
        margin-right: auto; */
        text-align: right;
    }

    .photos{
        margin-top: 200px;
        margin-right: 60px;
    }
    .flex-name{
        margin-top: 30px;
    }
    .container-img{
        margin-top: -60px;
    }
    #content h3{
        /* color: rgb(250, 246, 21); */
        /* font-size: 5.7em; */
        font-size: 6.7em;
    }
    .flex{
        display: flex;
        text-align: right;
    }
    .projet-one-mobile{
        display: none;
    }

    #content .contact{
        text-align: center;
    }
    .block-contact{
        margin-top: 200px;
    }
    .paragraphe-contact{
        font-size: 2.1em;
        width: 800px;
        margin-top: 0px;
        margin-left: 20px;
        text-align: left;

        margin-left: 50px;
    }

    .email{
        margin-top: 50px;
        margin-left: 50px;
    }
    
    .reseau-date{
        display: inline-block;
        margin-left: 10px;

        margin-left: 50px;
    }
    .paragraphe-twitter{
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 1.5em;
        justify-content: space-between;
        margin-top: 0px;
    }
    .paragraphe-behance{
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 1.5em;
        justify-content: space-between;
        margin-top: 10px;
    }
    .paragraphe-date{
        /* font-family: "Bore - FREE"; */
        font-family: "Redwing"; 
        font-size: 25em;
    }

    .back{
        display: flex;
        justify-content: space-between;
        margin-top: -100px;

        margin-left: 30px;
    }
    
    .date{
        margin-top: -160px;
    }
    .paragraphe-top{
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 1.5em;
        justify-content: space-between;
        margin-top: 150px;
    }
}